# Environment
NODE_ENV="application environment, e.g., development, production"
LOG_LEVEL="level of logging, e.g., debug, info, warn, error"

# Server Port
PORT=3000

#Admin SeedData
NAME="Admin Name"
EMAIL="Admin Email"
PASS="Admin Password"

#User DB
DB_USER="Database Username"
DB_NAME="Database Database Name"
DB_PASS="Database Password"
DB_HOST="Database Host"
DB_PORT="Database Port"

#RDS DB
DB_USER="Amazon RDS Username"
DB_NAME="Amazon RDS Database Name"
DB_PASS="Amazon RDS Password"
DB_HOST="amazon rds endpoint"
DB_PORT="Amazon RDS Port"

# Token
ACCESS_TOKEN="Access Token Secret"
REFRESH_TOKEN="Refresh Token Secret"

#NodeMailer
SENDER_EMAIL="Sender Email Address"
EMAIL_PASS="App Password for Sender Email"

#Stripe Payment
STRIPE_SECRET_KEY="Stripe Secret Key"

#Aws 
AWS_REGION="AWS Region"
AWS_ACCESS_KEY="AWS Access Key"
AWS_SECRET_KEY="AWS Secret Key"
AWS_BUCKET_NAME="AWS S3 Bucket Name"

# Redis (BullMQ)
REDIS_URL=redis://localhost:6379