# Server Port
PORT=

#Admin SeedData
NAME=
EMAIL=
PASS=

#User DB
DB_USER=
DB_NAME=
DB_PASS=
DB_HOST=

# Token
ACCESS_TOKEN=
REFRESH_TOKEN=

#Email
EMAIL_API="Sendgrid Api"
SENDER_EMAIL="Resistred Sendgrid Email"

#Stripe Payment
STRIPE_SECRET_KEY=

#Aws 
AWS_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_BUCKET_NAME=